@charset "utf-8";
/* CSS Document */

.txt-center {
	text-align:center;
}

.clearfix {
	clear:both;
}

/*MARGINS*/

.margin-top-10 {
	margin-top:10px;
}

.margin-icon-space {
	margin-right:3px;
}

.navbar-fixed-space {
	margin-top:43px;
}

/*FLOATS*/

.pull-left {
	float:left;
}

/*IMAGES*/

.img-responsive {
	width:100%;
}

